MONGODB_URL=""
RUNPOD_API_KEY=""
HF_TOKEN=""
LIGHTNING_USER_ID=""
LIGHTNING_API_KEY=""
NGROK_AUTH_TOKEN=""
SCW_ACCESS_KEY=""
SCW_SECRET_KEY=""
SCW_DEFAULT_ORGANIZATION_ID=""
SCW_DEFAULT_PROJECT_ID=""
